/* Standardize padding in all browsers */
html, body, div {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
}

/* Body font */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

html, body {
	cursor: default;
	background: #333;
	color: #fff;
	padding: 0;
	margin: 0;

	font-family: 'Roboto Slab', serif;

	-webkit-user-select: none;
	-moz-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	overflow: hidden;
}

.backgroundtile {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 10px 3px;
	cursor: pointer;
	vertical-align: top;
}
.backgroundtile.graph {
	background: url(../_assets/labeling-graph-bg.png);
}
.backgroundtile.cork {
	background: url(../_assets/labeling-cork-bg.jpg);
}
.backgroundtile.color {
	background: #aaa;
}

.frame {
	width: 800px;
	height: 551px;
	margin: auto;
	position: relative;
	display: block;
	background: #333;
}

#board {
	position: absolute;
	display: block;
	left: 195px;
	top: 50px;
	width: 605px;
	height: 500px;
}
#imagewrapper {
	z-index: 0;
	display: block;
	width: 450px;
	position: absolute;
	left: 20px;
	top: 10px;
	#image {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	&.resizable {
		border: dashed 2px #fff;
		box-shadow: 0px 0px 15px #000;
		margin: -2px;
	}
}

#canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: copy;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 34px;
	text-align: center;
	background: #444;
	padding: 8px;
	z-index: 100;

	#title {
		font-size: 25px;
		font-weight: bold;
	}
}

#controls {
	position: absolute;
	background: #333;
	top: 50px;
	bottom: 0px;
	padding: 5px;
	width: 185px;
	z-index: 1;

	h1 {
		text-align: center;
		font-size: 20px;
		padding: 0px;
		margin: 0px;
	}
}

#terms {
	z-index: 100;
}

div.term {
	width: 150px;
	display: inline-block;
	padding: 5px 0px;
	color: #000;
	background: #fafafa;
	position: absolute;
	text-align: center;
	left: 20px;
	z-index: 9999;
	border-radius: 5px;
	border: solid 1px #aaa;
	box-shadow: 3px 3px 18px #000;
	opacity: 1;
	margin: -10px;
	
	.delete:before {
		content: 'x';
	}
	.delete {
		position: absolute;
		top: -5px;
		right: -5px;
		z-index: 100;
		display:block;
		background: #d44;
		color: #fff;
		padding: 1px 6px;
		border-radius: 50px;
		font-size: 14px;
		border: solid 1px #c00;
		opacity: 0;
		cursor: pointer;
		-webkit-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
	&:hover .delete {
		opacity: 1;
	}
}

div.dot {
	border-radius: 10px;
	border: solid 3px #fff;
	width: 10px;
	height: 10px;
	background: #000;
	position: absolute;
	margin: -6px;

	&:hover {
		cursor: move;
	}
}

h1 {
	color: #fff;
	font-size: 16px;
}

.sidepanel {
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 50%;
	margin-left: -400px;
	display:block;
	background-color: #283645;
	background: -webkit-linear-gradient(top, #142432, #283645, #142432);
	background: -moz-linear-gradient(top, #142432, #283645, #142432);
	background: -ms-linear-gradient(top, #142432, #283645, #142432);
	background: -o-linear-gradient(top, #142432, #283645, #142432);
	background-repeat: repeat-x;
	z-index: 100;

	&.right {
		right: 0px;
		margin-right: -400px;
	}
}

input[type=button] {
	border: solid 1px #555;
	background: #444;
	font-size: 14px;
	color: #fff;
	padding: 5px;
	margin: 4px;
	width: 165px;
}

.arrow_box {
	position: absolute;
	z-index: 1000;
	top: 135px;
	left: 25px;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
	padding: 6px;
	-webkit-animation: sway 2s infinite;
	animation: sway 2s infinite;
	display: none;
	&:after, &:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-right-color: #88b7d5;
		border-width: 30px;
		margin-top: -30px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-right-color: #c2e1f5;
		border-width: 36px;
		margin-top: -36px;
	}
}
@-webkit-keyframes sway {
	0% { margin-left: -10px; }
	50% { margin-left: 10px; }
	100% { margin-left: -10px; }
}
@keyframes sway {
	0% { margin-left: -10px; }
	50% { margin-left: 10px; }
	100% { margin-left: -10px; }
}
