/* Standardize padding in all browsers */
html, body, div {
	margin: 0;
	padding: 0;
	user-select: none;
}

html {
	min-height: 100%;
}

$green: #5fac4b;

html, body {
	cursor: default;
	background: #fff;
	color: #fff;
	padding: 0;
	margin: 0;

	font-family: 'Lato', serif;

	overflow: hidden;
}

.backgroundtile {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 10px 3px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 32px;
	&:after {
		content: '.';
		color: #fff;
		margin-left: 12px;
		top: 28px;
		position:absolute;
		opacity: 0;
	}
	&.show:after {
		opacity: 1;
	}
}
.backgroundtile.graph {
	background: url(assets/labeling-graph-bg.png);
	background-position: 43px 42px;
}
.backgroundtile.cork {
	background: url(assets/labeling-cork-bg.jpg);
	background-position: 42px 42px;
}
.backgroundtile.color {
	background: #a2a;
	.color {
		position:relative;
		top: -24px;
		left: 4px;
		width: 20px;
		height: 21px;
		border-radius: 30px;
		background: #333;
	}
}

.frame {
	width: 800px;
	height: 602px;
	margin: auto;
	position: relative;
	display: block;
	background: #333;
}

#board {
	position: absolute;
	display: block;
	left: 195px;
	top: 50px;
	width: 605px;
	height: 600px;
	z-index: 1000;
}
#boardcover {
	background: rgba(39, 192, 255, 0.2);
	border: solid 3px #27c0ff;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 49px;
	display: none;
}
#imagewrapper {
	z-index: 0;
	display: block;
	width: 450px;
	height: 300px;
	position: absolute;
	left: 80px;
	top: 115px;


	&.firsttime {
		background: #ddd;
		border: solid 3px #fff;
	}
	&.faded {
		opacity: 0.8;
	}
	#image {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	&.resizable {
		border: dashed 2px #fff;
		box-shadow: 0px 0px 15px #000;
		margin: -2px;
	}
	#inputwrapper {
		z-index: 9000;
		position: absolute;
		text-align: center;
		top: 43%;
		width: 100%;
		input {
			border: solid 2px #fff;
		}
	}

}

#canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: copy;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 34px;
	background: #444;
	padding: 8px;
	z-index: 100;
	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 100;
		font-size: 22px !important;
		vertical-align: middle;
		margin-top: 3px;
	}
}

#maincontrols {
	position: absolute;
	right: 10px;
	top: 0px;

	span {
		display: inline-block;
		margin-top: 15px;
		margin-right: 10px;
		color: #999;
		font-size: 12px;
	}
}

#controls {
	position: absolute;
	background: #333;
	top: 50px;
	bottom: 0px;
	padding: 5px;
	width: 185px;
	z-index: 1;
	background: url(assets/checker.png);

	h1 {
		text-align: center;
		font-size: 20px;
		padding: 0px;
		margin: 0px;
	}
	input {
		margin-left: 7px;
	}

}

#terms {
	z-index: 100;
}

div.term {
	width: 150px;
	min-height: 20px;
	display: inline-block;
	padding: 5px 0px;
	color: #000;
	background: #fafafa;
	position: absolute;
	text-align: center;
	left: 20px;
	z-index: 9999;
	border-radius: 5px;
	border: solid 1px #aaa;
	box-shadow: 3px 3px 18px #000;
	opacity: 1;
	margin: -10px;
	word-break: break-all;

	padding: 8px 0px;

	background: #fafafa;

	border-radius: 5px;
	border: solid 1px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 2px rgba(0,0,0,0.2);
	background: #f7ecce;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.2);
	border: none;
	
	.delete:before {
		content: '\00D7';
	}
	.delete {
		position: absolute;
		top: -5px;
		right: -5px;
		z-index: 100;
		display:block;
		background: #d44;
		color: #fff;
		padding: 1px 6px 2px;
		border-radius: 50px;
		border: solid 1px #c00;
		font-size: 14px;
		opacity: 0;
		cursor: pointer;
		-webkit-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
	&:hover .delete {
		opacity: 1;
	}
	&:hover {
		border: solid 2px #27c0ff;
		margin: -12px;
	}
}

div.dot {
	border-radius: 10px;
	border: solid 3px #fff;
	width: 10px;
	height: 10px;
	background: #000;
	position: absolute;
	margin: -6px;

	&:hover {
		cursor: move;
		border: solid 3px #27c0ff;
	}
}

h1 {
	color: #fff;
	font-size: 16px;
}

.sidepanel {
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 50%;
	margin-left: -400px;
	display:block;
	background: inherit;
	z-index: 100;

	&.right {
		right: 0px;
		margin-right: -400px;
	}
}
.arrow {
	position: absolute;
	z-index: 1000;
	top: 125px;
	left: -30px;
	animation: sway 2s infinite;
	height: 200px;
	width: 200px;
	display: none;
}
@keyframes sway {
	0% { margin-left: -10px; }
	50% { margin-left: 10px; }
	100% { margin-left: -10px; }
}

* {
	-webkit-appearance: none;
	outline: none;
}

input {
	animation: bloop 0.5s;
	background: $green;
	color: #fff;
	font-size: 14px;
	font-family: 'Lato';
	font-weight: 100;
	border: none;
	width: 170px;
	padding: 12px;
	margin-bottom: 10px;
	-webkit-appearance: none;
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		-webkit-transition: opacity 0.5s ease;
	}
}

#controlcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	&.show {
		z-index: 1000;
		opacity: 0.8;
		-webkit-transition: opacity 0.5s ease;
	}
}

.box {
	width: 350px;
	left: 50%;
	top: 45%;
	margin-left: -150px;
	margin-top: -50px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	text-align: center;

	color: #333;

	input {
		margin-top: 20px;
		padding: 7px;
		width: 110px;

		&[type=text] {
			width: 90%;
			margin: 10px;
			margin-top: 20px;
			border: solid 1px #333;
			font-family: 'Lato';
			font-size: 16px;
			color: #333;
			background: #fff;
		}
	}
}

#btnMoveResizeCancel {
	background: #fff;
	color: #000;
	z-index: 90001;
	position: absolute;
	top: 55px;
	left: 12px;
}

.helpbox {
	position: relative;
	background: #fffac2;
	border: 4px solid #fffac2;
	color: #333;
	width: 158px;
	left: 7px;
	padding: 2px;

	animation: bloop 0.5s;

	text-align: center;
	font-size: 12px;

	.imgframe {
		background: #e7e0ae;
		width: 100px;
		height: 100px;
		display: inline-block;
		margin: 5px;
		text-align: center;
		.img {
			margin-top: 10px;
			margin-bottom: 5px;
			width: 80px;
			height: 58px;
			display: inline-block;
			&.help_move_label {
				background: url(assets/help_move_label.png);
			}
			&.help_move_anchor {
				background: url(assets/help_move_anchor.png);
			}
			&.help_add {
				background: url(assets/help_add.png);
				margin: 0px;
				width: 100px;
				height: 100px;
				border: solid 2px #27c0ff;
			}
			background-repeat: no-repeat;
		}
	}

	&:after, &:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 250, 194, 0);
		border-left-color: #fffac2;
		border-width: 8px;
		margin-top: -15px;
	}
	&:before {
		border-color: rgba(255, 250, 194, 0);
		border-left-color: #fffac2;
		border-width: 13px;
		margin-top: -21px;
	}
}

@keyframes bloop {
	0% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	60% {
		transform: scale(1);
	}
}
