/* Standardize padding in all browsers */
* {
	outline: 0;
	padding: 0px;
	margin: 0px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none !important;
}

/* Body font */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

html, body {
	cursor: default;
	background: #333;
	color: #fff;
	padding: 0;
	margin: 0;

	font-family: 'Lato', serif;

	overflow: hidden;
	
	// This is an IE thing, it prevents panning the page
	touch-action: none;
}

#board {
	position: fixed;
	display: block;
	left: 195px;
	top: 50px;
	right: 0px;
	bottom: 0px;
	#image {
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 33px;
	background: #444;
	padding: 8px;

	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 20px;
		margin-top: 2px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 100;
		font-size: 22px !important;
		vertical-align: middle;
		margin-top: 5px;
	}
}

#termlist {
	position: absolute;
	top: 50px;
	bottom: 0px;
	padding: 5px;
	h1 {
		text-align: center;
		font-size: 20px;
	}
	width: 190px;
	background: url(assets/checker.png);
}

div.term {
	width: 150px;
	display: inline-block;
	padding: 8px 0px;
	color: #000;
	background: #fafafa;
	position: fixed;
	text-align: center;
	z-index: 1000;
	border-radius: 5px;
	border: solid 1px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 2px rgba(0,0,0,0.2);
	left: -28px;
	-webkit-transform: translate(50px,50px); 
	transform: translate(50px,50px); 
	word-break: break-all;
	font-size: 14px;
	font-family: 'Roboto Slab';

	&.placed {
		background: #f7ecce;
		box-shadow: 0px 5px 3px rgba(0,0,0,0.2);
		border: none;
	}
}

.ease {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#checkBtn {
	position: fixed;
	right: 10px;
	top: 6px;
	border: solid 1px #353535;
	border-radius: 25px;
	background: #363636;
	color: #ccc;
	font-size: 13px;
	margin-top: 2px;
	padding: 8px 15px;
	&.done {
		background: #5fac4b;
		color: #fff;
	}
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	&.show {
		z-index: 9999;
		opacity: 0.5;
	}
}

.box {
	width: 300px;
	left: 70%;
	top: 49%;
	margin-left: -250px;
	margin-top: -50px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	text-align: center;

	color: #333;

	input {
		margin: 10px;
		border: solid 1px #333;
		font-family: 'Lato';
		font-size: 16px;
		color: #333;
		background: #fff;
		margin: 16px 6px 4px 6px;
		transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-webkit-transition: all 0.1s ease;
		position: relative;
		padding: 7px;
		width: 110px;

	}
	#confirmbtn {
	}
}

.fade {
	-webkit-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}

input {
	-webkit-appearance: none;
	&.green {
		background: #5fac4b;
		color: #fff;
		border: solid 1px #4f9c3b;
	}
}

#nextbtn {
	position: fixed;
	top: 58px;
	left: 25px;
}

#prevbtn {
	position: fixed;
	top: 58px;
	left: 145px;
}

@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot');
	src:url('assets/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('assets/font/icomoon.ttf') format('truetype'),
		url('assets/font/icomoon.woff') format('woff'),
		url('assets/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 26px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Make above ghost element */
	z-index: 1000;

	cursor: pointer;
}

.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e602";
}

#ghost {
	box-shadow: 0px 0px 5px #000;
	border: none;
	z-index: 0;
	&.hide {
		opacity: 0 !important;
		-webkit-transition: opacity 0.5s ease;
		-webkit-transition-delay: 0.5s;
	}
}

@-webkit-keyframes fadeout {
	0% { opacity: 0.5; }
	100% { opacity: 0; }
}

#donearrow {
	position: absolute;
	background: #ffff82;
	display: block;
	opacity: 0;

	width: 100px;
	right: 175px;
	top: 12px;
	height: 14px;

	text-align: center;
	font-size: 12px;
	padding: 5px;

	color: #333;

	-webkit-animation: bobber 1s infinite;
	-webkit-transition: opacity 0.2s ease;
	animation: bobber 1s infinite;
	transition: opacity 0.2s ease;

	h1 {
		font-size: 14px;
	}

	&:after, &:before {
		bottom: 0px;
		left: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-left-color: #ffff82;
		border-width: 12px;
		margin-left: 0px;
	}

	b {
		text-transform: uppercase;
		font-weight: bold;
	}
}

//iPad likes transform better
@-webkit-keyframes bobber {
	0% {
		-webkit-transform: translate(10px,0px);
	}
	50% {
		-webkit-transform: translate(0px,0px);
	}
	100% {
		-webkit-transform: translate(10px,0px);
	}
}
@keyframes bobber {
	0% {
		margin-right: 0px;
	}
	50% {
		margin-right: 10px;
	}
	100% {
		margin-right: 0px;
	}
}

.preview {
	display: block;
	position: absolute;
	opacity: 0;
	z-index: -999;
	margin-top: -150px;

	&.show {
		opacity: 1;
		z-index: 99999;
	}

	.board {
		margin: 10px auto;
		position: relative;
		background: #dfdfdf;
		display: block;
		width: 250px;
		height: 200px;

		.terms {
			background: #aaa;
			width: 80px;
			top: 0px;
			height: 100%;
			display: block;
		}

		.term {
			display: block;
			margin-top: 5px;
			position: relative;
			width: 60px;
			padding-top: 15px;
			left: -40px;
			top: -40px;
			box-shadow: 0px 0px 3px rgba(0,0,0,0.2);

			&.first {
				animation: firstterm 8s infinite;
			}
			&.second {
				animation: secondterm 8s infinite;
			}
			&.third {
				animation: thirdterm 8s infinite;
			}
		}
		.cursor {
			background: url(assets/cursor.png) no-repeat;
			display: block;
			width: 20px;
			height: 30px;
			position: absolute;
			top: 50px;
			left: 100px;
			animation: cursor 8s infinite;
			z-index: 999999;
		}
		.img {
			position: absolute;
			left: 100px;
			top: 60px;
			background: url(assets/preview.png) no-repeat;
			background-color: #fff;
			width: 130px;
			height: 85px;
			display: block;
			padding: 0px;
			border: solid 1px #ccc;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
		}
		.previewimg {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 10;
		}
		#previewimg1 {
			animation: firstimg 8s infinite;
			opacity: 0;
		}
		#previewimg2 {
			animation: secondimg 8s infinite;
			opacity: 0;
		}
		#previewimg3 {
			animation: thirdimg 8s infinite;
			opacity: 0;
		}
	}
}

@keyframes cursor {
	0% {
		left: 120px;
		top: 120px;
	}
	10% {
		left: 30px;
		top: 25px;
	}
	20% {
		left: 160px;
		top: 40px;
	}
	25% {
		left: 160px;
		top: 40px;
	}
	35% {
		left: 38px;
		top: 55px;
	}
	45% {
		left: 200px;
		top: 90px;
	}
	60% {
		left: 38px;
		top: 75px;
	}
	70% {
		left: 135px;
		top: 150px;
	}
	100% {
		left: 135px;
		top: 150px;
	}
}

@keyframes firstterm {
	10% {
		left: -40px;
		top: -40px;
	}
	20% {
		left: 80px;
		top: -20px;
	}
	100% {
		left: 80px;
		top: -20px;
	}
}

@keyframes secondterm {
	35% {
		left: -40px;
		top: -40px;
	}
	45% {
		left: 130px;
		top: -10px;
	}
	100% {
		left: 130px;
		top: -10px;
	}
}
@keyframes thirdterm {
	60% {
		left: -40px;
		top: -40px;
	}
	70% {
		left: 60px;
		top: 30px;
	}
	100% {
		left: 60px;
		top: 30px;
	}
}

@keyframes firstimg {
	15% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes secondimg {
	40% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes thirdimg {
	65% {
		opacity: 0;
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

