/* Standardize padding in all browsers */
* {
	outline: 0;
	padding: 0px;
	margin: 0px;
}

/* Body font */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

html, body {
	cursor: default;
	background: #333;
	color: #fff;
	padding: 0;
	margin: 0;

	font-family: 'Roboto Slab', serif;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none !important;

	overflow: hidden;
	
	// This is an IE thing, it prevents panning the page
	touch-action: none;
}

#board {
	position: fixed;
	display: block;
	left: 195px;
	top: 50px;
	right: 0px;
	bottom: 0px;
	#image {
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 34px;
	text-align: center;
	background: #444;
	padding: 8px;
	h1 {
		margin-top: 5px;
		font-size: 25px; 
		vertical-align: middle;
	}
}

#termlist {
	position: absolute;
	top: 50px;
	padding: 5px;
	h1 {
		text-align: center;
		font-size: 20px;
	}
	width: 190px;
}

div.term {
	width: 150px;
	display: inline-block;
	padding: 8px 0px;
	color: #000;
	background: #fafafa;
	position: fixed;
	text-align: center;
	z-index: 1000;
	border-radius: 5px;
	border: solid 1px #aaa;
	box-shadow: 3px 3px 18px #000;
	left: -28px;
}

.ease {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#checkBtn {
	position: fixed;
	right: 10px;
	top: 6px;
	border: solid 1px #333;
	background: #111f2c;
	color: #fff;
	font-size: 14px;
	margin-top: 5px;
	padding: 5px;
}

#alertbox {
	display: none;
	width: 300px;
	left: 50%;
	top: 49%;
	margin-left: -85px;
	margin-top: -50px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #333;
	border-radius: 5px;
	z-index: 10000;
	box-shadow: 0px 0px 10px #333;
	text-align: center;

	opacity: 0;
	
	color: #333;

	input {
		margin: 10px;
		padding: 3px;
		border: solid 1px #333;
		font-family: 'Roboto Slab';
		font-size: 14px;
		color: #333;
		background: #fff;
		margin: 8px 10px;
		transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-webkit-transition: all 0.1s ease;
		position: relative;
	}

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#alertbox.fadein {
	opacity: 1;
}

#alertbox.fadeout {
	opacity: 0;
}

input {
	-webkit-appearance: none;
}

#nextbtn {
	position: fixed;
	top: 58px;
	left: 25px;
}

#prevbtn {
	position: fixed;
	top: 58px;
	left: 145px;
}

@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot');
	src:url('assets/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('assets/font/icomoon.ttf') format('truetype'),
		url('assets/font/icomoon.woff') format('woff'),
		url('assets/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 26px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e602";
}

#ghost {
	box-shadow: 0px 0px 5px #000;
	z-index: 0;
}

@-webkit-keyframes fadeout {
	0% { opacity: 0.5; }
	100% { opacity: 0; }
}

#donearrow {
	position: absolute;
	background: #333;
	border: 4px solid #777;
	display: none;

	width: 200px;
	right: 15px;
	top: 85px;
	z-index: 10000000;

	text-align: center;
	font-size: 12px;
	padding: 5px;

	-webkit-animation: bobber 1s infinite;
	-webkit-transition: opacity 0.2s ease;
	animation: bobber 1s infinite;
	transition: opacity 0.2s ease;

	h1 {
		font-size: 14px;
	}

	&:after, &:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: #333;
		border-width: 30px;
		margin-left: 16px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: #777;
		border-width: 36px;
		margin-left: 10px;
	}
	&:hover {
		opacity: 0;
	}
}

@-webkit-keyframes bobber {
	0% {
		margin-top: 0px;
	}
	50% {
		margin-top: 10px;
	}
	100% {
		margin-top: 0px;
	}
}
@keyframes bobber {
	0% {
		margin-top: 0px;
	}
	50% {
		margin-top: 10px;
	}
	100% {
		margin-top: 0px;
	}
}
