/* Standardize padding in all browsers */
html,
body,
div {
	margin: 0;
	padding: 0;
	user-select: none;
}

html {
	min-height: 100%;
}

$green: #5fac4b;
$inputmaxheight: 100px;

html,
body {
	cursor: default;
	background: #222;
	color: #fff;
	padding: 0;
	margin: 0;

	font-family: 'Lato', serif;

}

[type=button],
[type=submit],
[type=text],
textarea {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.backgroundtile {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 10px 3px;
	cursor: pointer;
	vertical-align: top;
	border-radius: 32px;
	&:after {
		content: '.';
		color: #fff;
		margin-left: 12px;
		top: 28px;
		position:absolute;
		opacity: 0;
	}
	&.show:after {
		opacity: 1;
	}
}
.backgroundtile.graph {
	background: url(assets/labeling-graph-bg.png);
	background-position: 43px 42px;
}
.backgroundtile.cork {
	background: url(assets/labeling-cork-bg.jpg);
	background-position: 42px 42px;
}
.backgroundtile.color {
	background: #a2a;
	.color {
		position:relative;
		top: -24px;
		left: 4px;
		width: 20px;
		height: 21px;
		border-radius: 30px;
		background: #333;
	}
}

.frame {
	width: 800px;
	height: 602px;
	margin: auto;
	position: relative;
	display: block;
	background: #333;
	overflow: hidden;
}

#board {
	position: absolute;
	display: block;
	left: 195px;
	top: 50px;
	width: 605px;
	height: 550px;
	z-index: 1000;
	overflow: hidden;
}
#boardcover {
	background: rgba(39, 192, 255, 0.2);
	border: solid 3px #27c0ff;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	display: none;
}
#imagewrapper {
	z-index: 0;
	display: block;
	width: 450px;
	height: 300px;
	position: absolute;
	left: 80px;
	top: 115px;

	&.faded {
		opacity: 0.8;
	}
	#chooseimage {
		position: absolute;
		font-size: 18px;
		text-align: center;
		font-family: Lato;
		color: #ffffff;
		line-height: 300px;
	}
	#image {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	&.resizable {
		border: dashed 3px #fff;
		box-shadow: 0px 0px 15px #000;
		margin: -2px;
		&.dark {
			border: dashed 3px #2BB2DD;
		}
	}
	#inputwrapper {
		z-index: 9000;
		position: absolute;
		text-align: center;
		top: 43%;
		width: 100%;
		input {
			border: solid 2px #fff;
		}
	}

}

#canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: copy;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 34px;
	background: #444;
	padding: 8px;
	z-index: 100;
	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 22px !important;
		vertical-align: middle;
		margin-top: 3px;
		float:left;
		max-width: 440px;
		white-space: nowrap;
		overflow: hidden;
	}

	div.link {
		float: left;
		cursor: pointer;
		margin: 0 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #CCC;
		text-decoration: underline;
		}
}

#maincontrols {
	position: absolute;
	right: 10px;
	top: 0px;

	span {
		display: inline-block;
		margin-top: 15px;
		margin-right: 10px;
		color: #999;
		font-size: 12px;
	}
}

#controls {
	position: absolute;
	background: #333;
	top: 50px;
	bottom: 0px;
	padding: 5px;
	width: 185px;
	z-index: 1;
	background: url(assets/checker.png);

	h1 {
		text-align: center;
		font-size: 20px;
		padding: 0px;
		margin: 0px;
	}
	[type=button],
	[type=submit],
	[type=text] {
		margin-left: 7px;
	}
}

#opacity-toggle {
	margin-top: 10px;
}

#terms {
	z-index: 100;
}

.label-input {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;

	word-wrap: break-word;

	white-space: pre-wrap;

	max-height: $inputmaxheight;

	overflow-x: hidden;
	overflow-y: auto;
}

div.term {
	font-family: 'Roboto Slab', serif;
	width: 150px;
	min-height: 20px;
	display: inline-block;
	padding: 5px 0px;
	color: #000;
	background: #fafafa;
	position: absolute;
	text-align: center;
	left: 20px;
	z-index: 9999;
	border-radius: 5px;
	border: solid 1px #aaa;
	box-shadow: 3px 3px 18px #000;
	opacity: 1;
	margin: -10px;

	white-space: pre-wrap;

	max-height: ($inputmaxheight+20);

	padding: 8px 0px;

	background: #fafafa;

	border-radius: 5px;
	border: solid 1px rgba(0,0,0,0.2);
	background: #f7ecce;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.2);
	border: none;

	cursor: pointer;

	.delete:before {
		content: '\00D7';
	}
	.delete {
		position: absolute;
		top: -5px;
		right: -5px;
		z-index: 100;
		display:block;
		background: #d44;
		color: #fff;
		padding: 1px 6px 2px;
		border-radius: 50px;
		border: solid 1px #c00;
		font-size: 14px;
		opacity: 0;
		cursor: pointer;
		-webkit-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
	&:hover .delete {
		opacity: 1;
	}
	&:hover {
		border: solid 2px #27c0ff;
		margin: -12px;
	}
}

div.dot {
	border-radius: 10px;
	border: solid 3px #fff;
	width: 10px;
	height: 10px;
	background: #000;
	position: absolute;
	margin: -6px;

	&:hover {
		cursor: move;
		border: solid 3px #27c0ff;
	}

	&.frosted {
		opacity: 0.5;
		background: #fff;
	}
	&.transparent {
		opacity: 0;
	}
}

h1 {
	color: #fff;
	font-size: 16px;
}

.sidepanel {
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 50%;
	margin-left: -400px;
	display:block;
	background: #222;
	z-index: 100;

	&.right {
		right: 0px;
		margin-right: -400px;
	}
}

*:not([type=radio]) {
	-webkit-appearance: none;
	outline: none;
}

[type=button],
[type=submit] {
	animation: bloop 0.5s;
	background: $green;
	color: #fff;
	font-size: 14px;
	font-family: 'Lato';
	font-weight: 300;
	border: none;
	width: 170px;
	padding: 12px;
	margin-bottom: 10px;
	-webkit-appearance: none;
	&[type=button]:hover, &[type=submit]:hover{
		background: #78DD5E;
		color: #000;
		cursor: pointer;
	}
}

[type=radio] {
	color: #fff;
	border: none;
	height: 20px;
	width: 20px;
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		-webkit-transition: opacity 0.5s ease;
	}
}

#controlcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	&.show {
		z-index: 1000;
		opacity: 0.8;
		-webkit-transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 50px;
		margin-top: 15px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	[type=button],
	[type=submit],
	[type=text] {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}

#btnMoveResizeCancel {
	background: #fff;
	color: #000;
	z-index: 90001;
	position: absolute;
	top: 55px;
	left: 12px;
}

#btnMoveResizeDone {
	z-index: 90002;
	position: absolute;
	top: 105px;
	left: 12px;
}

.helpbox {
	position: relative;
	background: #fffac2;
	border: 4px solid #fffac2;
	color: #333;
	width: 158px;
	left: 7px;
	padding: 2px;

	animation: bloop 0.5s;

	text-align: center;
	font-size: 12px;

	.imgframe {
		background: #e7e0ae;
		width: 100px;
		height: 100px;
		display: inline-block;
		margin: 5px;
		text-align: center;
		.img {
			margin-top: 10px;
			margin-bottom: 5px;
			width: 80px;
			height: 58px;
			display: inline-block;
			&.help_move_label {
				background: url(assets/help_move_label.png);
			}
			&.help_move_anchor {
				background: url(assets/help_move_anchor.png);
			}
			&.help_add {
				background: url(assets/help_add.png);
				margin: 0px;
				width: 100px;
				height: 100px;
				border: solid 2px #27c0ff;
			}
			background-repeat: no-repeat;
		}
	}

	&:after, &:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: rgba(255, 250, 194, 0);
		border-left-color: #fffac2;
		border-width: 8px;
		margin-top: -15px;
	}
	&:before {
		border-color: rgba(255, 250, 194, 0);
		border-left-color: #fffac2;
		border-width: 13px;
		margin-top: -21px;
	}
	&#help_adding {
		margin-top: 150px;
	}
}

@keyframes bloop {
	0% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	60% {
		transform: scale(1);
	}
}

.sp-coloropt {
	display: inline-block;
	width: 51px;
	height: 30px;
	margin: 2px;
	margin-right: 2px;
	margin-left: 4px;
	cursor: pointer;
}

